<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav barra-myMovie"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="60"
    fixedBottomGap="30"
  >
    <mat-nav-list class="nav-list">
      <a class="itens" routerLink="/cadastros"> Home </a>
      <a class="itens" routerLink="/cadastros/produtos"> Filmes </a>
      <a class="itens" routerLink="/cadastros/usuarios"> Usuários </a>
      <a class="itens" routerLink="/cadastros/categorias"> Categorias </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
