<div class="tituloListas">
  <h1>Nova categoria</h1>
</div>
<form>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          name="nome"
          [(ngModel)]="categoria.nome"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        class="btnmyMovie"
        (click)="salvarCategoria()"
        color="primary"
      >
        Salvar
      </button>
      <button
        mat-raised-button
        class="btnmyMovie"
        routerLink="/cadastros/categorias"
      >
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
